.NavItem > button {
  cursor: pointer;
  color: #fff;
  width: 90px;
  height: 90px;
  text-align: center;
  background-color: #222222;
  border-color: transparent;
}

.NavItem > button:hover, .NavItem > button:active {
  background-color: #000000;
  color: #e54a2d;
}

.NavItem > button:focus {
  outline-color: #000000;
  color: #e54a2d;
  background-color: #000000;
}

.NavItem > button:disabled {
  opacity: 0.9;
}

