
.Title h1{
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    margin: 20px;
  }
  
  .Title h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #E54A2D;
  margin: 20px;
  }